{% assign myNumber = 10 %}

{% assign myNewNumber = myNumber | times: 5 %}
{% assign myNewNumber = myNumber | divided_by: 5 %}

{{ myNewNumber }}

{% if myNumber > 5 %}
  <p>my Number is greater than 5</p>
{% endif %}