{% assign products = collection.products %}
{% assign productTitles = products | map: "title" %}

{% for productTitle in productTitles %}
  <p>{{ productTitle }}</p>
{% endfor %}

<p>{{ productTitles | join: ' - ' }}</p>