{% assign myVariable = 11 %}

{% if myVariable > 10 %}
  <p>Another instruction</p>
  <p>Variable greater than 10</p>
  {% assign myNestedVariable = 20 %}
  <p>{{ myNestedVariable }}</p>
{% else %}
  <p>Variable not greater than 10</p>
{% endif %}
