{% assign myVariable = '9' %}
{% assign myString = 'hello' %}

{% comment %} Greater than {% endcomment %}
{% if myVariable > 10 %}
  <p>My variable is greater than 10</p>
{% endif %}
{% comment %} Lesss than {% endcomment %}
{% if myVariable < 10 %}
  <p>my variable is less than 10</p>
{% endif %}
{% comment %} Equal {% endcomment %}
{% if myVariable == 10 %}
  <p>My variable is equal to 10</p>
{% endif %}

{% if myString == 'hello' %}
  <p>myString is hello</p>
{% endif %}

{% comment %} Greater than or equal to {% endcomment %}
{% if myVariable >= 10 %}
  <p>My variable is greater than or equal to 10</p>
{% endif %}

{% if myVariable <= 10 %}
  <p>My variable is less than or equal to 10</p>
{% endif %}

{% comment %} Container {% endcomment %}
<p>{{ product.title }}</p>

<p>{{ product.tags }}</p>

{% if product.title contains 'New' %}
  <p>This is a snowboard</p>
{% endif %}

{% if product.tags contains "Winter" %}
    <p>This is a Winter product</p>