{% assign myString = "hello world" %}
{% assign myOtherString = ' some extra text ' %}
<p>{{ myString | upcase | append: myOtherString | downcase }}</p>

{% assign myStringWithWhiteSpace = "hello this has whitespace  " %}
<p>
  {{ myStringWithWhiteSpace | append: "!" }}</p>
<p>
  {{ myStringWithWhiteSpace | strip | append: "!" }}</p>