{% for product in collection.products %}
  <p
    style="
      {% if forloop.first %}
      color: green
      {% elsif forloop.last %}
      color: orange
      {% endif %}
    "
  >
    {{ forloop.index }} - {{ product.title }}
  </p>
  <h2>Tags</h2>
  <ul>
    {% for tag in product.tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
{% endfor %}
