{% for product in collection.products %}
  <p
    style="
      {% if forloop.first %}
      color: green
      {% elsif forloop.last %}
      color: orange
      {% endif %}
    "
  >
    {{ forloop.index }} - {{ product.title }}
  </p>
  {% if product.tags.size > 0 %}
    <h2>Tags</h2>
    <ul>
      {% for tag in product.tags %}
        <li>
          Product Index: {{ forloop.index -}}
          {{- tag }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
